<div class="account-menu">
    <div class="account-menu__form" *ngIf="!isLogined">
        <div class="account-menu__form-title">{{'account-menu.LogIn' | translate}}</div>
        <div class="form-group">
            <label for="header-signin-email" class="sr-only">{{'account-menu.EmailAddress' | translate}}</label>
            <input id="header-signin-email" type="email" [(ngModel)]="email" class="form-control form-control-sm"
                placeholder="{{'account-menu.EmailAddress' | translate}}">
        </div>
        <div class="form-group">
            <label for="header-signin-password" class="sr-only">{{'account-menu.Password' | translate}}</label>
            <div class="account-menu__form-forgot">
                <input id="header-signin-password" [(ngModel)]="password" type="password"
                    class="form-control form-control-sm" placeholder="{{'account-menu.Password' | translate}}">
                <a [routerLink]="['/account/login']" class="account-menu__form-forgot-link">{{'account-menu.Forgot' | translate}}?</a>
            </div>
        </div>
        <div class="form-group account-menu__form-button">
            <button (click)="login()" class="btn btn-primary btn-sm">{{'account-menu.LogIn' | translate}}</button>
        </div>
        <div class="account-menu__form-link"><a routerLink="/account/registre"
                (click)="closeMenu.emit()">{{'account-menu.CreateAnAccount' | translate}}</a></div>
    </div>
    <div *ngIf="isLogined">
        <div class="account-menu__divider"></div>
        <a routerLink="/account/dashboard" class="account-menu__user" (click)="closeMenu.emit()">
            <div class="account-menu__user-info">
                <div class="account-menu__user-name">{{entrepriseName}} </div>
                <div class="account-menu__user-email">{{username}} </div>
            </div>
        </a>
        <div class="account-menu__divider"></div>
        <ul class="account-menu__links">
            <li><a routerLink="/account/profile"
                    (click)="closeMenu.emit()">{{'account-menu.EditProfile' | translate}}</a>
            </li>
            <li><a (click)="helpWindow()" style="cursor: pointer;">{{'account-menu.Chat' | translate}}</a>
            </li>
            <li><a routerLink="/account/orders"
                    (click)="closeMenu.emit()">{{'account-menu.OrderHistory' | translate}}</a>
            </li>
            <li><a routerLink="/account/addresses"
                    (click)="closeMenu.emit()">{{'account-menu.Addresses' | translate}}</a>
            </li>
            <li><a routerLink="/account/password" (click)="closeMenu.emit()">{{'account-menu.Password' | translate}}</a>
            </li>
        </ul>
        <div class="account-menu__divider"></div>
        <ul class="account-menu__links">
            <li><a (click)="logout()" (click)="closeMenu.emit()"
                    style="cursor: pointer;">{{'account-menu.Logout' | translate}}</a></li>
        </ul>
    </div>
</div>