# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.swp
*.swo

# Miscellaneous
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
npm-debug.log
yarn-error.log
package-lock.json

# System Files
.DS_Store
Thumbs.db

# Environments (Optional: common to ignore if they contain secrets)
# /src/environments/environment.prod.ts
