<div class="product-tabs" [ngClass]="{'product-tabs--layout--sidebar': withSidebar}">
    <div class="product-tabs__list">
        <a href="#tab-description" class="product-tabs__item"
            [ngClass]="{'product-tabs__item--active': tab === 'description'}"
            (click)="$event.preventDefault(); tab = 'description'">{{'product-tabs.Description' | translate}}</a>

        <a *ngIf="!hideRatingModule" href="#tab-reviews" class="product-tabs__item" [ngClass]="{'product-tabs__item--active': tab === 'reviews'}"
            (click)="$event.preventDefault(); tab = 'reviews'">{{'product-tabs.Reviews' | translate}}</a>
    </div>
    <div class="product-tabs__content">

        <div class="product-tabs__pane" id="tab-description"
            [ngClass]="{'product-tabs__pane--active': tab === 'description'}">
            <div class="typography">
                <h3>{{'product-tabs.ProductFullDescription' | translate}}</h3>
                <p> {{product.Description}} </p>


                <h3 class="spec__header">{{'product-tabs.Specification' | translate}}</h3>
           
                    <h4 class="spec__section-title">{{'product-tabs.Generalinformation' | translate}}</h4>
                    <div *ngFor="let info of getInformationList()" class="spec__row">
                        <div class="spec__name">{{ info.Label }}</div>
                        <div class="spec__value">{{ info.Value }}</div>
                    </div>
               
                <div class="spec__disclaimer">
                  {{'product-tabs.Information' | translate}}
                </div>
            </div>
        </div>

        <div class="product-tabs__pane" id="tab-reviews" [ngClass]="{'product-tabs__pane--active': tab === 'reviews'}" *ngIf="!hideRatingModule">
            <div class="reviews-view">
                <div class="reviews-view__list">
                    <h3 class="reviews-view__header">{{'product-tabs.CustomerReviews' | translate}}</h3>

                    <div class="reviews-list">
                        <ol class="reviews-list__content" *ngIf="product.Comments.length>0">
                            <li *ngFor="let review of product.Comments" class="reviews-list__item">
                                <div class="review">
                                    <div class="review__avatar"><img [src]="review.avatar" alt=""></div>
                                    <div class="review__content">
                                        <div class="review__author">{{ review.Email }}</div>
                                        <div class="review__rating">
                                            <app-rating [value]="review.Level"></app-rating>
                                        </div>
                                        <div class="review__text">{{ review.Title }}</div>
                                        <div class="review__text">{{ review.Body }}</div>
                                        <div class="review__date">{{ review.CreatedOn| date:'short' }}</div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <p *ngIf="product.Comments.length<=0">{{'NoDataToDisplay' | translate}} </p>
                        <!-- <div class="reviews-list__pagination">
                            <app-pagination [current]="1" [siblings]="2" [total]="10"></app-pagination>
                        </div> -->
                    </div>
                </div>

                <!-- <form class="reviews-view__form">
                    <h3 class="reviews-view__header">Write A Review</h3>
                    <div class="row">
                        <div class="col-12 col-lg-9 col-xl-8">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="review-stars">Review Stars</label>
                                    <select id="review-stars" class="form-control">
                                        <option>5 Stars Rating</option>
                                        <option>4 Stars Rating</option>
                                        <option>3 Stars Rating</option>
                                        <option>2 Stars Rating</option>
                                        <option>1 Stars Rating</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="review-author">Your Name</label>
                                    <input type="text" class="form-control" id="review-author" placeholder="Your Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="review-email">Email Address</label>
                                    <input type="text" class="form-control" id="review-email"
                                        placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="review-text">Your Review</label>
                                <textarea class="form-control" id="review-text" rows="6"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-primary btn-lg">Post Your Review</button>
                            </div>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>

    </div>
</div>