<div class="addresses-list">
    <a [routerLink]="['/account/address']" [queryParams]="{AddressId: 0, Type: 'shippingAdress' , ReturnUrl:returnUrl}" class="addresses-list__item addresses-list__item--new">
        <div class="addresses-list__plus"></div>
        <div class="btn btn-secondary btn-sm">{{'page-addresses-list.AddNew' | translate}}</div>
    </a>
    <div class="addresses-list__divider"></div>

    <ng-container *ngFor="let address of addresses">
        <div class="addresses-list__item card address-card">
            <div class="address-card__badge" *ngIf="address.selected">{{'page-addresses-list.SelectedAddress' | translate}}</div>
            <div class="address-card__body">
                <div class="address-card__name" style="margin-bottom:0">{{'page-order-details.EntrepriseName' | translate}}:</div>
                <div class="address-card__name">{{ address.EntrepriseName }}</div>
                <div class="address-card__row">
                    {{ address.FirstLineAddress }}<br>
                    {{ address.SecondLineAddress }}<br>
              
                    {{ address.ZipCode }}, {{ address.City }}<br>
                    {{ address.Country }}
                </div>
                <div class="address-card__row">
                    <div class="address-card__row-title">{{'page-dashboard.PhoneNumber' | translate}}</div>
                    <div class="address-card__row-content">{{ address.ContactTelephone }}</div>
                </div>
                <div class="address-card__footer">
                    <a [routerLink]="['/account/address']" [queryParams]="{AddressId: address.Id, Type: 'shippingAdress', ReturnUrl:returnUrl }" style="cursor: pointer; color: #cc3333;">{{'page-addresses-list.Edit' | translate}}</a>&nbsp;&nbsp;
                    <a *ngIf="addresses.length>1 && !disableRemove" (click)="remove(address.Id)"  style="cursor: pointer; color: #cc3333;" >{{'page-addresses-list.Remove' | translate}}</a>
                    <a *ngIf="selectAddress" (click)="selectAddressEvent(address)"  style="cursor: pointer; color: #cc3333;" >{{'page-addresses-list.Selected' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="addresses-list__divider"></div>
    </ng-container>
</div>
