<app-page-header [breadcrumbs]="[
    {label: 'Page d\'accueil',                 url: '../../'},
    {label: 'Information de livraison', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">{{'components.DeliveryInformation' | translate}}</h1>
            </div>
            <div class="document__content typography">
                <p [innerHtml]='storeService.shippingInfo | async' style="font-size:20px;font-weight: 500;">
                 
                </p>

            </div>
        </div>
    </div>
</div>