<!-- .block-features -->
<div class="block block-features block-features--layout--{{ layout }}">
    <div class="container">
        <div class="block-features__list" *ngIf="!simplifyHomePage">
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-free-delivery-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">{{'block-features.FreeShipping' | translate}}</div>
                    <div class="block-features__subtitle">{{'block-features.Forordersfrom50' | translate}}</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-24-hours-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">{{'block-features.Support247' | translate}}</div>
                    <div class="block-features__subtitle">{{'block-features.Callusanytime' | translate}}</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-payment-security-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">{{'block-features.100Safety' | translate}}</div>
                    <div class="block-features__subtitle">{{'block-features.Mulplitmethodepayment' | translate}}</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="fi-tag-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">{{'block-features.HotOffers' | translate}}</div>
                    <div class="block-features__subtitle">{{'block-features.Discount' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-features / end -->
