<app-page-header [breadcrumbs]="[
    {label: 'Page d\'accueil',                 url: '../../'},
    {label: 'Conditions', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">{{'mobileMenu.TermsAndConditions' | translate}}</h1>
                <div class="document__subtitle">Date de dernière mise à jour : 05/02/2015</div>
            </div>
            <div class="document__content typography">
                <p>
                    Il est préalablement précisé que les présentes conditions régissent exclusivement les ventes, par
                    JLS Import (Siège social : JLS Import - 58, rue du Goulet - 93300 Aubervilliers RCS Bobigny 803 400
                    985) de produits Vaisselles, Décorations, Cadeaux, Bazar, Fleurs artificielles et Articles de
                    ménages. Ces conditions s'appliquent à l'exclusion de toutes autres conditions, notamment celles en
                    vigueur pour les ventes en magasin.
                </p>

                <h2>ARTICLE 1 - PRIX</h2>

                <ol>
                    <li>
                        Les prix de nos produits n'indiquent pas sur jlsimport.fr. Pour savoir les prix des produits que
                        vous intéresser, veuillez contacter au magasin JLS Import par téléphone 01 48 33 58 09 ou par
                        l'E-mail : jlsimport93&#64;gmail.com. Une fois votre commande est validée sur jlsimport.fr, JLS
                        Import vous envoyera un devis de votre commande avec les informations indispensables ( nom des
                        produits, références des produits, code barre, collisage, nombre de colis, prix unitaire,
                        montant total HT et TTC etc...).
                    </li>
                    <li>
                        En cas de commande vers un pays autre que la France métropolitaine vous êtes l'importateur du ou
                        des produits concernés. Pour tous les produits expédiés hors Union européenne et DOM-TOM, le
                        prix sera calculé hors taxes automatiquement sur la facture. Des droits de douane ou autres
                        taxes locales ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ces
                        droits et sommes ne relèvent pas du ressort de JLS Import. Ils seront à votre charge et relèvent
                        de votre entière responsabilité, tant en termes de déclarations que de paiements aux autorités
                        et/organismes compétents de votre pays. Nous vous conseillons de vous renseigner sur ces aspects
                        auprès de vos autorités locales.
                    </li>
                    <li>
                        JLS Import se réserve le droit de modifier ses prix à tout moment au magasin mais les produits
                        seront facturés sur la base des tarifs en vigueur au moment de votre validation de commande.
                    </li>
                    <li>
                        Les produits demeurent la propriété de JLS Import jusqu'au complet paiement du prix. Nous vous
                        rappelons qu’au moment où vous prenez possession physiquement des produits commandés, les
                        risques de perte ou d’endommagement des produits vont sont transférés.
                    </li>
                    <li>
                        JLS Import n'a pas vocation à vendre à des professionnels, les produits et services vendus par
                        JLS Import sont réservés aux autres professionnels.
                    </li>
                </ol>

                <h2>ARTICLE 2 - COMMANDE</h2>

                <p>
                    Vous pouvez passer commande : <br>

                    Sur Internet : www.jlsimport.fr.<br>
                    Par téléphone au 01 48 33 58 09 (coût d’une communication locale à partir d’un poste fixe) depuis la
                    France métropolitaine. Du lundi au vendredi de 9h à 18h30<br>
                    Au 33.1.48.33.58.09 depuis les DOM TOM et l'étranger Du lundi au vendredi de 9h à 18h30.<br>
                    Par fax au 01 48 33 72 06<br>
                    Par l'E-mail : jlsimport93&#64;gmail.com<br>
                    Les informations contractuelles sont présentées en langue française et feront l'objet d'une
                    confirmation reprenant ces informations contractuelles au plus tard au moment de votre validation de
                    commande.
                </p>

                <h2>ARTICLE 3 – VALIDATION DE VOTRE COMMANDE</h2>

                <p>
                    Vous déclarez avoir pris connaissance et accepté les présentes Conditions générales de vente avant
                    la passation de votre commande. La validation de votre commande vaut donc acceptation de ces
                    Conditions générales de vente.<br>

                    Un récapitulatif des informations de votre commande et des Conditions Générales de vente, vous sera
                    communiqué en format PDF ou XLSX via l’e-mail de confirmation de votre commande.
                </p>

                <h2>ARTICLE 4 - DISPONIBILITÉ</h2>

                <p>
                    JLS Import est un grossiste et a vocation à vendre en quantités importantes les produits proposés.
                    En conséquence, JLS Import se réserve de le droit de refuser les commandes d'un même produit en
                    quantité légère.<br>

                    Nos offres de produits sont valables tant qu’ils sont visibles sur le site, dans la limite des
                    stocks disponibles hors opérations promotionnelles mentionnées comme telles sur les sites. Dans
                    l'éventualité d'une indisponibilité de produit après passation de votre commande, nous vous en
                    informerons par mail. Votre commande sera automatiquement annulée et aucun débit bancaire ne sera
                    effectué. Pour information le débit n’intervient qu’au moment de l’expédition du colis.
                </p>


                <h2>ARTICLE 5 - LIVRAISON</h2>

                <ol>
                    <li>
                        Généralités<br>

                        Les colis sont livrés à l'adresse de livraison que vous avez indiquée au cours du processus de
                        commande. La prise en livraison grantuite de votre commande ne commence qu'à partir de 1500€ HT
                        d'achat<br>

                        Le délai de livraison correspond au délai d’expédition indiqué sur la fiche Article auquel
                        s’ajoute
                        le délai de traitement et d’acheminement.<br>
                        En cas de livraison par un transporteur nécessitant une prise de rendez-vous avec le client, ce
                        dernier prendra contact avec vous dans les plus brefs délais pour convenir avec vous d’un
                        rendez-vous de livraison, 30 jours au plus tard à compter de la date de votre validation de
                        commande. JLS Import ne peut être responsable de retard de livraison dû exclusivement à une
                        indisponibilité du client après plusieurs propositions de rendez-vous par le transporteur.<br>

                        Lorsque vous commandez plusieurs colis en même temps et que ceux-ci ont des délais de livraison
                        différents, le délai de livraison de la commande est basé sur le délai le plus éloigné. JLS
                        Import se réserve toutefois la possibilité de fractionner les expéditions. La participation aux
                        frais de traitement et d'expédition ne sera facturée que pour un seul envoi.<br>

                        En cas de retard d’expédition, un mail vous sera adressé pour vous informer d’une éventuelle
                        conséquence sur le délai de livraison qui vous a été indiqué. En cas de retard de livraison,
                        nous vous proposerons par mail un nouveau délai de livraison.<br>

                        En tout état de cause, conformément aux dispositions légales, en cas de retard de livraison,
                        vous bénéficiez de la possibilité de résoudre le contrat dans les conditions et modalités
                        définies à l’Article L 138-2 du Code de la consommation. Dans ce cas, si vous avez reçu le
                        produit, après votre annulation, nous procéderons au remboursement du produit et aux frais «
                        aller » dans les conditions de l’Article L 138-3 du Code de la consommation.<br>

                        Nous vous invitons également à consulter régulièrement votre suivi de commande et à contacter le
                        01 48 33 58 09 (coût d’une communication locale à partir d’un poste fixe) pour toute question ou
                        en cas de problème. Nous mettons à votre disposition indiqué dans l’email de confirmation de
                        commande que vous recevrez après validation de votre commande, pour cela il vous suffit de vous
                        identifier à l’aide de votre adresse e-mail et votre mot de passe.<br>

                        Nous vous rappelons qu’au moment où vous (ou un tiers désigné par vous) prenez possession
                        physiquement des produits commandés, les risques de perte ou d’endommagement des produits vont
                        sont transférés.<br>
                    </li>
                    <li>
                        Réserves<br>

                        Vous devez notifier au transporteur et à JLS Import toutes réserves sur le produit livré (par
                        exemple : colis endommagé, déjà ouvert...).
                    </li>
                </ol>

                <h2>ARTICLE 6 - PAIEMENT</h2>

                <p>
                    Mode de paiement accepté :<br>
                    Par RIB avec le montant TTC à l'ordre de JLS Import
                </p>

                <h2>ARTICLE 7 - DROIT DE RÉTRACTATION</h2>

                <ol>
                    <li>
                        Délai légal du droit de rétractation<br>

                        Conformément aux dispositions légales en vigueur, vous disposez d’un délai de 15 jours à compter
                        de la réception de vos produits pour exercer votre droit de rétractation sans avoir à justifier
                        de motifs ni à payer de pénalité. Après communication de votre décision d’exercer votre droit de
                        rétractation dans ce délai de 15 jours, vous disposez d’un autre délai de 15 jours pour renvoyer
                        le ou les produits concernés par la rétractation.
                    </li>
                    <li>
                        Délai contractuel de rétraction<br>

                        Sur jlsimport.fr (produits vendus et expédiés par JLS Import), nous vous offrons la possibilité
                        d’exercer votre droit de rétractation dans un délai de 15 jours à compter de la réception des
                        produits. Ensuite vous disposez d’un autre délai de 15 jours à compter de la communication de
                        votre décision de rétractation pour nous renvoyer le ou les produits concernés.<br>

                        En cas de commande contenant plusieurs produits, passée sur jlsimport.fr, le délai de 15 jours
                        pour communiquer votre décision de rétractation court à compter de la réception du dernier
                        produit.<br>

                        Les modalités d’exercice de votre droit de rétractation sont précisées au 7.3.
                    </li>
                    <li>
                        Conditions d’exercice du droit de rétractation<br>

                        En cas d’exercice du droit de rétractation dans le délai visé au 7.2, seul le prix du ou des
                        produits achetés et les frais d’envoi seront remboursés, les frais de retour restant à votre
                        charge.<br>

                        Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires,
                        notice...) permettant leur recommercialisation à l’état neuf, et, si possible, accompagnés d’une
                        copie de la facture d'achat pour une gestion optimisée. En cas de dépréciation du produit
                        résultant de manipulations autres que celles nécessaires pour établir la nature, les
                        caractéristiques et le bon fonctionnement du produit, votre responsabilité peut être
                        engagée.<br>

                        Pour exercer votre droit de rétractation, conformément aux dispositions légales, vous trouverez
                        ci-joint en Annexe 2 le formulaire-type de rétractation à nous adresser à l’adresse suivante :
                        JLS Import - 58, rue du Goulet - 93300 Aubervilliers - France. Vous pouvez exercer votre droit
                        de rétractation par tout moyen à la JLS Import et notamment par courrier postal ou un mail
                        exprimant votre volonté de vous rétracter sans aucune ambiguïté, et mentionnant la commande
                        concernée par cette rétractation.<br>

                        Une fois le formulaire ou la déclaration de rétractation envoyée à JLS Import au plus tard dans
                        les 15 jours suivant la réception de votre commande, vous devez renvoyer le ou les produits
                        concernés à JLS Import soit auprès du magasin JLS Import.<br>

                        Si vous décidez de renvoyer le produit auprès de JLS Import, conformément aux dispositions
                        légales, vous trouverez via le lien ci-dessous, pour les produits ne pouvant nous être renvoyés
                        par la Poste en raison de leur nature et/ou de leur taille (notamment téléviseurs), une
                        estimation des frais de retours auprès d’un transporteur, à votre charge.<br>

                        Pour obtenir une estimation de vos frais de retour :<br>

                        1. Rendez-vous sur le site de Chronopost à cette adresse.<br>

                        2. Cliquez sur « TARIFS PRATIQUES EN POINTS DE VENTE (Bureaux de Poste et Agences
                        Chronopost)<br>

                        Cette estimation de frais de retour n’engage pas JLS Import. Le prix à payer pour le renvoi de
                        votre produit pourra varier suivant le transporteur que vous aurez choisi pour renvoyer votre
                        produit.
                    </li>
                    <li>
                        - Adresse de retour<br>

                        JLS Import - 58, rue du Goulet - 93300 Aubervilliers - France.
                    </li>
                </ol>
                <h2>ARTICLE 8 - GARANTIES</h2>

                <p>
                    1 - Conformité des produits<br>

                    Conformément aux dispositions des garanties légales de conformité et des vices cachés précisées en
                    Annexe 1 des présentes conditions, nous vous remboursons ou nous vous échangeons les produits
                    apparemment défectueux ou ne correspondant pas à votre commande. Si vous demandez le remboursement,
                    nous vous remercions de bien vouloir nous contacter au numéro 01 48 33 58 09 (coût d’une
                    communication locale à partir d’un poste fixe) accessible indiqué dans l’E-mail de confirmation de
                    commande et accessible dans votre page « Mon Compte » ; pour cela il vous suffit de vous identifier
                    à l’aide de votre adresse e-mail et votre mot de passe.<br>

                    Pour pouvoir bénéficier des éventuelles garanties commerciales sur votre produit, il convient
                    impérativement de conserver la facture d'achat du produit.
                </p>
                <p>
                    2 - Cible visée :<br>

                    Attention : La facture d’achat du produit tient lieu de garantie et de certificat de dédouanement.
                    Aucun duplicata ne sera délivré. Nos produits sont destinés à des commerçants pour la
                    remercialisation ou une utilisation commerciale.
                </p>

                <h2>ARTICLE 9 - PROPRIÉTÉ INTELLECTUELLE</h2>

                <p>
                    Tous les textes, commentaires, ouvrages, illustrations œuvres et images reproduits ou représentés
                    sur les sites de la JLS Import sont strictement réservés au titre du droit d'auteur ainsi qu'au
                    titre de la propriété intellectuelle et pour le monde entier. À ce titre et conformément aux
                    dispositions du code de la propriété intellectuelle, seule l'utilisation pour un usage privé sous
                    réserve de dispositions différentes voire plus restrictives du code de la propriété intellectuelle
                    est autorisée. Toute reproduction ou représentation totale ou partielle des sites de la JLS Import
                    ou de tout ou partie des éléments se trouvant sur les sites de la JLS Import est strictement
                    interdite.
                </p>
                <p>
                    Les dénominations sociales, marques et signes distinctifs reproduits sur les sites de la JLS Import
                    sont protégés au titre du droit des marques. La reproduction ou la représentation de tout ou partie
                    d'un des signes précités est strictement interdite et doit faire l'objet d'une autorisation écrite
                    préalable du titulaire de la marque.
                </p>
                <p>
                    Certains produits tels que notamment les logiciels font l'objet de droits d'utilisation personnels
                    et spécifiques réglementant les copies, diffusions publiques, locations. Vous devez respecter les
                    conditions générales de vente de ces produits et jlsimport.fr ne saurait être responsable des
                    utilisations qui pourraient être faites des produits dans ce cadre.
                </p>
                <h2>ARTICLE 10 - RESPONSABILITÉ</h2>

                <p>
                    Les produits proposés sont conformes à la législation française en vigueur. La responsabilité de JLS
                    Import ne saurait être engagée en cas de non-respect de la législation du pays où le produit est
                    livré (par exemple en cas d'interdiction d'un titre ou d’un produit). Il vous appartient de vérifier
                    auprès des autorités locales les possibilités d'importation ou d'utilisation des produits ou
                    services que vous envisagez de commander.<br>

                    Les photos sont communiquées à titre illustratif. Nous vous invitons à vous reporter au descriptif
                    de chaque produit pour en connaître les caractéristiques précises; et en cas de doute ou si vous
                    souhaitez des renseignements complémentaires n'hésitez pas à nous contacter au 01 48 33 58 09. JLS
                    Import n’est responsable que du contenu des pages qu’elle édite.
                </p>

                <h2>ARTICLE 11 - DONNÉES PERSONNELLES</h2>

                <p>
                    Les informations nominatives et données personnelles vous concernant sont nécessaires à la gestion
                    de votre commande et à nos relations commerciales. Elles peuvent être transmises aux sociétés qui
                    contribuent à ces relations telles que celles chargées de l’exécution des services et commandes pour
                    leur gestion, exécution, traitement et paiement. Ces informations et données sont également
                    conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires et
                    ainsi que pour nous permettre d’améliorer et personnaliser les services que nous vous proposons et
                    les informations que nous vous adressons.<br>

                    Conformément à la loi informatique et libertés du 6 janvier 1978, vous disposez d'un droit d'accès
                    et de rectification et d’opposition aux données personnelles vous concernant. Il vous suffit de nous
                    écrire en ligne ou par courrier à JLS Import, 58, rue du Goulet, 93300 Aubervilliers - France, en
                    nous indiquant vos nom, prénom, e-mail adresse et si possible votre référence client. Conformément à
                    la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d’un
                    titre d’identité portant votre signature et préciser l’adresse à laquelle doit vous parvenir la
                    réponse. Une réponse vous sera alors adressée dans un délai de 2 mois suivant la réception de la
                    demande.<br>

                    En fonction de vos choix émis lors de la création ou consultation de votre compte, vous serez
                    susceptibles de recevoir des offres de notre société, ainsi que de sociétés et enseignes du groupe
                    JLS Import comme indiqué lors de la création de votre compte. Si vous ne le souhaitez plus, vous
                    pouvez à tout moment nous en faire la demande en le précisant dans Mon compte rubrique "Informations
                    personnelles".<br>

                    Notre site est également conçu pour être particulièrement attentif aux besoins de nos clients. C'est
                    entre autres pour cela que nous faisons usage de cookies. Le cookie a pour but de signaler votre
                    passage sur notre site. Les cookies ne sont donc utilisés par JLS Import que dans le but d'améliorer
                    le service personnalisé qui vous est destiné.<br>

                    Existence d’une liste d’opposition au démarchage téléphonique : Si votre numéro de téléphone est
                    recueilli à l’occasion de la création de votre compte ou de la passation de votre commande, nous
                    vous informons que vos coordonnées téléphoniques ne seront utilisées que pour la bonne exécution de
                    vos commandes ou pour vous contacter afin de vous proposer de nouveaux services. Sans préjudice de
                    ce qui précède, conformément aux dispositions légales, vous êtes informés que vous pouvez, si vous
                    le souhaitez, vous inscrire sur la liste d’opposition au démarchage téléphonique. Vous pouvez vous
                    inscrire gratuitement sur cette liste qui s’impose à tous les professionnels à l’exception de ceux
                    avec lesquels vous avez déjà conclu un contrat.<br>

                    Date de dernière mise à jour : 01/12/2014<br>
                </p>
                <h2>ANNEXE 1</h2>

                <p>
                    Article L211-4 Code de la consommation<br>

                    Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité
                    existant lors de la délivrance. Il répond également des défauts de conformité résultant de
                    l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa
                    charge par le contrat ou a été réalisée sous sa responsabilité.<br>

                    Article L211-5 Code de la consommation<br>

                    Pour être conforme au contrat, le bien doit :<br>

                    1. Etre propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :<br>

                    correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a
                    présentées à l'acheteur sous forme d'échantillon ou de modèle<br>
                    1.présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations
                    publiques
                    faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou
                    l'étiquetage<br>
                    2. Ou présenter les caractéristiques définies d'un commun accord par les parties ou être propre à
                    tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a
                    accepté.<br>

                    Article L211-12 Code de la consommation<br>

                    L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du
                    bien.<br>

                    Article L. 211-16 Code de la Consommation :<br>

                    Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été
                    consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte
                    par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de
                    la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de
                    l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition
                    est postérieure à la demande d'intervention.<br>

                    Article 1641 Code civil<br>

                    Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent
                    impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne
                    l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.<br>

                    Article 1648 alinéa 1er Code civil<br>

                    L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux
                    ans à compter de la découverte du vice.<br>

                    ANNEXE 2 – FORMULAIRE DE RÉTRACTATION<br>
                    Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter de
                    votre commande passée sur fnac.com (produits vendus et expédiés par Fnac) – sauf exclusions ou
                    limites à l’exercice du droit de rétractation suivant les Conditions Générales de Vente
                    applicables.<br>

                    A l’attention de FNAC – service clientèle – 9, rue des Bateaux-Lavoirs – 94200 Ivry-sur-Seine<br>

                    Je vous notifie par la présente ma rétractation du contrat portant sur la vente du bien / pour la
                    présentation de service(*) ci-dessous :<br>

                    Commandé le …………………………………….. / Reçu le ……………………………………………………………….. (*)<br>

                    Numéro de la commande : ……………………………………………………………………..<br>

                    Nom du/des consommateur(s) : ………………………………………………………………..<br>

                    Adresse du/des consommateur(s) : ………………………………………………………………..<br>

                    Signature du/des consommateur(s) (uniquement en cas de notification du présent formulaire sur
                    papier) :<br>

                    Date : ………………………………………………………………..<br>

                    (*) Rayez la mention inutile<br>
                </p>
            </div>
        </div>
    </div>
</div>