<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">{{'page-about-us.AboutUs' | translate}}</h1>
                    <div class="about-us__text typography">
                        <p>
                            {{'page-about-us.AboutUsMessage' | translate}}
                        </p>
                    </div>
                    <div class="about-us__team">
                        <h2 class="about-us__team-title">{{'page-about-us.MeatOurTeam' | translate}}</h2>
                        <div class="about-us__team-subtitle text-muted">{{'page-about-us.joinus' | translate}}?<br><a routerLink="../contact-us">{{'page-about-us.Contactus' | translate}}</a> {{'page-about-us.accept' | translate}}.</div>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="">
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
