<div class="card">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="card-header">
        <h5>{{'page-password.ChangePassword' | translate}}</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="password-current">{{'page-password.CurrentPassword' | translate}}</label>
                    <input type="password" class="form-control" id="password-current" [(ngModel)]="criteria.PreviousPassword" >
                </div>
                <div class="form-group">
                    <label for="password-new">{{'page-password.NewPassword' | translate}}</label>
                    <input type="password" class="form-control" id="password-new" [(ngModel)]="criteria.NewPassword" >
                    <div class="alert alert-danger" role="alert" *ngIf="criteria.NewPassword.length<8">{{'registre.Warming_AtLeast8Characters' | translate}}</div>
                </div>
                <div class="form-group">
                    <label for="password-confirm">{{'page-password.ReenterNewPassword' | translate}}</label>
                    <input type="password" class="form-control" id="password-confirm" [(ngModel)]="criteria.RepeateNewPassword" >
                    <div class="alert alert-danger" role="alert" *ngIf="criteria.RepeateNewPassword!=criteria.NewPassword">{{'registre.Warming_PasswordsMustMatch' | translate}}</div>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="!checkValidity()">{{'imcomplete' | translate}}</div>
                <div class="form-group mt-5 mb-0">
                    <button class="btn btn-primary" (click)="save()">{{'page-password.Change' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
